@charset "utf-8";
* { margin: 0; padding: 0; border: 0; font-size: 100%; }
/* dark: #731a1a
lessdark: #8c1c1c
lesslessdark: #8c3e3e
light: d9bdba
lightest: a67272
*/
body {
	font-family: 'Archivo', sans-serif;
	font-weight: normal;
}
h1, h2, h3, h6, a {
	font-family: 'Archivo', sans-serif;
	font-weight: bold;
}
.logo {
	background: #8c3e3e;
}
.logo img{
	height: 200px;
	width: 400px;
}

.nav-link {
	color: #731a1a;
}
.backgroundimage {
  position: relative;
  text-align: center;
  color: white;
  margin-top: 20;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-link:hover {
	color: #d9bdba;
}
.headersred {
	color: #8c1c1c;
	margin-top: 20px;
}
.products {
		text-align: center;
}

.content-shop img {
	height: 350px;
	width: 350px;
	margin: auto;
	padding-left: 20px;
}
.content-shop {
	text-align: center
}
.textpage1 {
	text-align: justify;
	color: #8c1c1c;
	padding-right: 100px;
	margin-top: 60px;
}
.textpage2 {
	text-align: justify;
	color: #8c1c1c;
	padding-right: 120px;
	padding-left: 120px;
	margin-top: 60px;
}
.img-fluid2 {
	padding-top: 50px;
	padding-left: 50px;
	
}
.textpage3 {
	text-align: center
		
}
.textcolor1 {
	color: #731a1a;
}


.img-fluid3 {
	padding-top: 50px;
	padding-left: 50px;
}
h3 { 
    text-align: center; 
    background-color: #d9bdba; 
}

#footer	{
    color: #a67272;
    background-color: #8c3e3e;
    text-align: center;
    width: auto;
    height: 2cm;
	margin-top: 50px;
	margin-bottom: auto;
    padding: 7.5mm 0mm 0mm 0mm;
}

.img-fluid1 {
	padding-top: 60px;
}



.textcolor2 {
	text-decoration-color: #8c1c1c
}

.textcolor3 {
	color: #8c3e3e
}

.textcolor4 {
	color: #d9bdba;
}

.textcolor5 {
	color: #a67272
}

.textcolor6 {
	color:#000000;
}